{% extends 'users/detail.html' %}
{% block user_details %}
  <div class="col-sm-8">
    <h1 class="my-3">My Profile Page</h1>
    <ul class="list-group" id="messages">

      {% for message in messages %}

        <li class="list-group-item">
          <a href="/messages/{{ message.id }}" class="message-link"/>

          <a href="/users/{{ user.id }}">
            <img src="{{ user.image_url }}" alt="user image" class="timeline-image">
          </a>

          <div class="message-area">
            <a href="/users/{{ user.id }}">@{{ user.username }}</a>
            <span class="text-muted">{{ message.timestamp.strftime('%d %B %Y') }}</span>
            <p>{{ message.text }}</p>
          </div>
          {% if message.id in user_likes %}
          <form action="/likes/{{ message.id }}" method="POST" id="like-form">
            <button class="fas fa-heart mr-0" type="submit" id="like-button"></button>
            <br>
            <span class="like-numbers"><p>{{ message.users_who_like | length }}</p></span>
          </form>
          {% else %}
          <form action="/likes/{{ message.id }}" method="POST" id="like-form">
            <button class="far fa-heart mr-0" type="submit" id="like-button"></button>
            <br>
            <span class="like-numbers"><p>{{ message.users_who_like | length }}</p></span>
          </form>
          {% endif %}
        </li>

      {% endfor %}

    </ul>
  </div>
{% endblock %}